/.vs
/.git

/Frontend/.vs
/Frontend/Frontend/bin
/Frontend/Frontend/obj

/Frontend/Frontend.DTO/bin
/Frontend/Frontend.DTO/obj

/Backend/.vs
/Backend/Backend/bin
/Backend/Backend/obj
/Backend/Backend/logs
/Backend/Backend/appsettings.json
