/* poppins-300 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
	url('../fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
	url('../fonts/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/poppins-v15-latin-800.eot'); /* IE9 Compat Modes */
	src: local(''), url('../fonts/poppins-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/poppins-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/poppins-v15-latin-800.woff') format('woff'), /* Modern Browsers */
	url('../fonts/poppins-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/poppins-v15-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

hr {
	display: block;
	height: 0;
	border-bottom: 1px solid #75787b;
	margin-top: 1.25rem !important;
	margin-bottom: 1.25rem !important;
	opacity: .25
}

.login-bg {
	position: relative;
	animation: anim 30s linear infinite alternate-reverse;
	-ms-animation: anim 30s linear infinite alternate-reverse;
	background-position: initial
}

.login-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	opacity: 0.65
}

.bg-secondary {
	background-color: #003654 !important;
}

.svg-container svg {
	max-width: 120px
}

.welcome-txt {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	height: 100%;
}

.text-white span {
	color: #43bbff;
}

.btn-outline-light {
	background-color: transparent;
	border: 1px solid #f8f9fa !important;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	color: #f8f9fa;
}

h4.text-4 {
	font-size: 1.5rem;
	font-weight: 400
}

h1.text-10 {
	font-size: 2rem;
	line-height: 3rem;
}

.thin-text {
	font-weight: 400
}

@keyframes anim {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 100% 0;
	}
}

.aside.aside-dark {
	background-color: #222e3c;
}

.menu-link {
	border-left: 3px solid transparent;
}

.aside-dark .menu .menu-item .menu-link.active {
	border-left-color: #009EF7;
	color: #e9ecef;
	background: linear-gradient( 90deg,rgba(59,125,221,.1),rgba(59,125,221,.0875) 50%,transparent);
}

.aside-dark .menu .menu-item .menu-link .menu-icon i {
	color: rgba(233,236,239,.75);
}

.aside-dark .menu .menu-item .menu-link .menu-title {
	color: #adb5bd;
}

.aside-dark .menu .menu-item.hover > .menu-link:not(.disabled):not(.active), .aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) {
	background-color: #182332;
}

.aside.aside-dark .aside-logo {
	background-color: #222e3c;
}

.fw-bolder {
	font-weight: 500 !important;
}

.card .card {
	box-shadow: none !important
}

h1.fs-3, h5.fs-3 {
	font-size: 1.25rem !important;
}

form .fs-5, .form-control {
	font-size: 1.025rem !important;
}

.btn-info {
	background-color: #3A435E !important;
	border-color: #364156;
}

.btn-check:checked + .btn.btn-info, .btn-check:active + .btn.btn-info, .btn.btn-info:focus:not(.btn-active), .btn.btn-info:hover:not(.btn-active), .btn.btn-info:active:not(.btn-active), .btn.btn-info.active, .btn.btn-info.show, .show > .btn.btn-info {
	background-color: #1B264F !important;
	border-color: #1B264F;
}

fieldset.scheduler-border {
	padding: 0 1.4em 1.4em 1.4em !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
	border-color: #E4E6EF !important;
	margin: 10px;
	width: calc(100% - 20px)
}

legend.scheduler-border {
	font-size: 1.2em !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
	margin-top: -12px;
	background: #fff;
}

legend {
	display: block;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #009EF7;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.card-header[aria-expanded=true] .fa-chevron-right {
	display: block;
}

.card-header[aria-expanded=false] .fa-chevron-down {
	display: none;
}

.accordion .with-chevron[aria-expanded='true'] i {
	display: block;
	transform: rotate(0deg) !important;
}

.accordion .sub-chevron .fa {
	transform: rotate(-90deg) !important;
}

.accordion-header[aria-expanded='true'] .sub-chevron i {
	transform: rotate(0deg) !important;
}

.cent {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

	.cent i {
		color: #009EF7
	}

.accordion_panel h4, .accordion_panel h6, .card .card-header .card-title {
	font-size: 1.15rem;
	font-weight: 500;
}

.cent.sub-chevron i {
	color: #c1c1c1
}

.table .panel-header {
	border-bottom-color: #E4E6EF;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	align-items: center;
}

#searchForm.form {
	margin-bottom: 0.5rem !important;
}

select {
	/* styling */
	background-color: white;
	border: thin solid blue;
	border-radius: 4px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	/* reset */

	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* arrows */

select {
	background-image: linear-gradient(45deg, transparent 50%, #009ef7 50%), linear-gradient(135deg, #0185cf 50%, transparent 50%), linear-gradient(to right, #f5f8fa, #f5f8fa);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
}

	select:focus {
		background-image: linear-gradient(45deg, #009ef7 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #4f9ef7 50%), linear-gradient(to right, #eef3f7, #eef3f7);
		background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
		background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
		background-repeat: no-repeat;
		border-color: grey;
		outline: 0;
	}

	select:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

.step [class*="col-"] {
	position: relative
}

.cp-data {
	text-align: center;
}

	.cp-data i {
		color: #009ef7;
		margin-right: 5px;
	}

.step .bg-secondary {
	background-color: #ededed !important;
}

#kt_content_container .stepper-item:first-child:after {
	display: none;
}

.stepper-item:before {
	font-family: bootstrap-icons !important;
	position: absolute;
	top: 0;
	left: 25px;
	display: block;
	color: #ffffff;
	background: #e7e7e7;
	width: 50px;
	height: 50px;
	line-height: 45px;
	/*    width: 13px;
    height: 13px;*/
	content: '';
	font-size: 1.205rem !important;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
	transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
	transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
	border: 2px solid #dfe3e4;
	border-radius: 50%;
	box-sizing: border-box;
	z-index: 3;
	font-weight: bold !important;
}

#kt_content_container .stepper-item:after {
	left: calc(-50% - 13px / 2);
	transition-property: all;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	transition-delay: 0s;
	background-color: #dfe3e4;
	left: -100px;
	height: 2px;
	width: 150px;
}

.stepper.stepper-links .stepper-nav .stepper-item .stepper-title {
	margin-top: 50px;
	font-weight: 500;
}

.stepper-item.current:before, .stepper-item.completed:before {
	background-color: #ffa500 !important;
	border-color: #ffa500 !important;
}

.stepper-item.approved:before, .stepper-item.completed:before {
	background-color: #50CD89 !important;
	border-color: #50CD89 !important;
}

.stepper-item.rejected:before {
	background-color: #F1416C !important;
	border-color: #F1416C !important;
}

.stepper-item.awaiting:before {
	background-color: #19bfe5 !important;
	border-color: #19bfe5 !important;
}

.stepper-item.pending:before {
	background-color: #F1416C !important;
	border-color: #F1416C !important;
}

.stepper.stepper-links .stepper-nav .stepper-item.completed:after {
	background-color: #009EF7 !important;
}

.stepper.stepper-links .stepper-nav .stepper-item.current .stepper-title {
	color: #ffa500 !important;
}

.stepper.stepper-links .stepper-nav .stepper-item.awaiting .stepper-title {
	color: #19bfe5 !important;
}

form#kt_create_account_form {
	padding: 1.5rem !important;
	/*    border-radius: 0.4rem !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;*/
}

.stepper-item:before {
	content: "\f52f";
}

.stepper.stepper-links .stepper-nav .stepper-item.approved {
	transition: color 0.2s ease, background-color 0.2s ease;
}

	.stepper.stepper-links .stepper-nav .stepper-item.approved .stepper-title {
		color: #50CD89;
	}

	.stepper.stepper-links .stepper-nav .stepper-item.approved:after {
		background-color: #50CD89;
	}

.stepper.stepper-links .stepper-nav .stepper-item.rejected {
	transition: color 0.2s ease, background-color 0.2s ease;
}

	.stepper.stepper-links .stepper-nav .stepper-item.rejected .stepper-title {
		color: #F1416C;
	}

	.stepper.stepper-links .stepper-nav .stepper-item.rejected:after {
		background-color: #F1416C;
	}

.stepper.stepper-links .stepper-nav .stepper-item.pending {
	transition: color 0.2s ease, background-color 0.2s ease;
}

	.stepper.stepper-links .stepper-nav .stepper-item.pending .stepper-title {
		color: #FFC700;
	}

	.stepper.stepper-links .stepper-nav .stepper-item.pending:after {
		background-color: #FFC700;
	}

.stepper.stepper-links .stepper-nav .stepper-item.awaiting {
	transition: color 0.2s ease, background-color 0.2s ease;
}

	.stepper.stepper-links .stepper-nav .stepper-item.awaiting .stepper-title {
		color: #7E8299;
	}

	.stepper.stepper-links .stepper-nav .stepper-item.awaiting:after {
		background-color: #e2eef7;
	}

.overlay-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999
}

	.overlay-mask .shadow {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
	}

.spinner {
	position: fixed;
	left: 50%;
	top: 50%;
	height: 60px;
	width: 60px;
	margin: 0px auto;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left: 6px solid rgba(0,174,239,.15);
	border-right: 6px solid rgba(0,174,239,.15);
	border-bottom: 6px solid rgba(0,174,239,.15);
	border-top: 6px solid rgba(0,174,239,.8);
	border-radius: 100%;
	z-index: 1000
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(359deg);
	}
}

@-o-keyframes rotation {
	from {
		-o-transform: rotate(0deg);
	}

	to {
		-o-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.Reportsmw {
	min-width: 300px;
	text-align: left;
}


.menu-sub-dropdown.show {
	position: fixed;
	right: 15px;
	top: 65px
}

.dp_withicon {
	position: relative
}

.dp_icon::after {
	display: block;
	width: 100%;
	content: " ";
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-calendar3' viewBox='0 0 16 16'%3E%3Cpath d='M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z'/%3E%3Cpath d='M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/svg%3E%0A"); /*rtl:begin:remove*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	height: 100%;
	right: 10px;
	pointer-events: none; /* important */
	position: absolute;
	top: 50%;
	width: 1.25em;
	transform: translateY(-50%);
}

.loginlayout {
	background-image: url(/assets/media/patterns/login-bg.jpg)
}

.appversion {
	font-size: 11px !important;
	font-weight: 300 !important;
}

.Reportsmw {
	min-width: 300px;
	text-align: left;
}

.timesheet .input-validation-error {
	background: #FEF1EC;
	border: 1px solid #CD0A0A;
}

.wd-xxl {
	width: 35% !important
}

.FocusExpand {
	transition: 0.5s;
}

	.FocusExpand:focus {
		border: 1px dashed #009EF7 !important;
		width: 600px;
		transition: 0.5s;
		position: relative;
		z-index: 999;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

.FocusExpandedBg .backdrop {
	background-color: white;
	opacity: 0.8;
	pointer-events: all;
	transition: opacity .3s;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 990;
	top: 0;
	height: 2000px !important;
}
.backdrop {
	opacity: 0;
	pointer-events: none;
	position: relative;
	left: 0;
	right: 0;
}


.accordion .col-custom {
	flex: 0 0 auto;
	width: 22%;
}

.accordion .subtask .col-custom {
	width: 14%;
}

.col-custom .form-check {
	padding-left: 2.25rem !important;
}

.col-custom .form-control, .col-custom-sm .form-control {
	padding: 0.5rem;
}

.accordion .col-custom-sm {
	flex: 0 0 auto;
	width: 12%;
}

	.accordion .col-custom-sm.time {
		width: 7%;
	}

.accordion-icon .menu-item .menu-link {
	padding: 0
}

.accordion .add_btn, .accordion .cb {
	width: 8% !important
}

.accordion .clone {
	max-width: 15px
}

i.fa.fa-times-circle {
	color: #eb0202;
}

.wd-xs {
	width: 14% !important
}

.wd-md {
	width: 18% !important
}

.wd-lg {
	width: 20% !important
}

.accordion .wd-xl {
	width: 28% !important
}

#JobsPanel .accordion .accordion-header {
	left: 15px !important
}

#divMain {
	display: flex;
	background: #f5f8fa;
	align-items: center;
	margin-bottom: 15px;
	justify-content: center;
}

.date-wrap {
	display: flex;
	flex-direction: row;
	align-items: center
}

	.date-wrap .form-control {
		pointer-events: none
	}

.timesheet .wd-xl {
	width: 17% !important;
	padding: 0 2px;
}

.timesheet .wd-lg {
	width: 15% !important;
	padding: 0 2px;
}

	.timesheet .wd-lg.tp {
		width: 10% !important
	}

.timesheet .wd-md {
	width: 10% !important;
	padding: 0 2px;
}

.timesheet .wd-sm {
	width: 7.5% !important;
	padding: 0 2px !important;
	justify-content: center;
}

.timesheet .form-control {
	padding: 0.55rem 0.35rem;
}

.timesheet .wd-sm .form-control {
	text-align: center;
}

.wd-xl .fv-row.fv-plugins-icon-container, .wd-lg .fv-row.fv-plugins-icon-container, .wd-md .fv-row.fv-plugins-icon-container, .wd-sm .fv-row.fv-plugins-icon-container {
	width: 100%;
}

.wd-xl select, .wd-lg select, .wd-md select, .wd-sm select {
	padding-right: 25px !important;
}

.timesheet_th {
	text-transform: uppercase
}

.wd-sm .text-gray {
	color: #7E8299
}

#divTimesheets div, .timesheet_th {
	width: 100%;
	flex-wrap: nowrap;
}

#divTimesheets div {
	margin-bottom: 1.5px
}

.timesheet {
	padding: 0 10px !important;
}

.card.wom {
	max-width: 100%;
	overflow-x: auto;
}

.row_wrapper_right {
	display: flex;
	justify-content: flex-end;
	margin-left: 1%;
}

#kt_wrapper .container-xxl {
	padding: 0;
}

.container-xxl .table-responsive {
	margin: 0 -10px;
}

.task-sum {
	border: none;
	pointer-events: none
}

.fw {
	width: 100%
}

.hover_btn {
	position: absolute;
	right: 0;
	top: -10px;
	background: #fff;
	width: 15px !important;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
}

	.hover_btn .dropdown-toggle::after {
		display: none
	}

	.hover_btn .form-control.form-control-solid {
		background: #fff !important;
		border-color: #ddd;
	}

	.hover_btn .dropdown-menu {
		padding: 0.25rem;
	}

	.hover_btn .dropdown-menu {
		position: absolute;
		left: -35px;
		top: 20px;
		z-index: 1;
		padding: 5px;
		min-width: 35rem !important;
		background-color: #ffffff;
		background-image: linear-gradient(to bottom, #F5F8FA, #ffffff);
		background-image: -webkit-linear-gradient(top, #F5F8FA, #ffffff);
		background-image: -moz-linear-gradient(top, #F5F8FA, #ffffff);
		background-image: -o-linear-gradient(top, #F5F8FA, #ffffff);
		background-clip: padding-box;
		border: 1px solid #dddddd;
		border-radius: 0.475rem;
	}

		.hover_btn .dropdown-menu::before {
			content: "";
			width: 10px;
			height: 10px;
			background: #F5F8FA;
			border-radius: 3px;
			position: absolute;
			left: 10%;
			margin-left: -10px;
			top: -5px;
			transform: rotate( 45deg );
			z-index: 0;
			border: 1px solid #dddddd;
			border-right-color: transparent;
			border-bottom-color: transparent;
		}

.form .card-header {
	min-height: 0px
}

.content .toolbar h1 {
	font-size: 1.075rem !important;
}

.clone .btn {
	padding: 5px !important
}

.btn-dlt {
	background: none !important
}

.wom .col-custom .form-control {
	padding: 0.25rem 0.5rem;
	font-size: 0.85rem !important;
	line-height: normal
}

.wom .btn-sm, .col-custom-sm .form-control {
	font-size: 0.90rem !important
}

.won .form-control {
	padding: 0.25rem 0.5rem;
	font-size: 1rem !important;
	line-height: normal
}

.form-control {
	padding: .40rem 1rem !important;
}

.btn-custom-pad {
	padding: 7px 10px !important;
}